body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: hsl(222, 11%, 18%);
}

#app {
  padding: 16px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#header {
  flex-basis: 5vh;
}

#header > .ui.header {
  color: white;
}

#main {
  flex-basis: 90vh;
  max-height: 90vh;
  overflow-y: scroll;

}

#main > .ui.message {
  background: hsla(222, 13%, 24%, 0.92);
  color: #e7e7f5;
}

#main .ui.label {
  margin-right: 8px;
  background: #b9d7f1;
}

.item-id {
 font-style: italic;
 float: right;
}

#footer {
  flex-basis: 5vh;
  padding: 16px;
}

#footer > input {
  background: #57636d;
}

